* {
	padding: 0;
	margin:0;
}

header img {
	width: 100%;
	display: inline;
	margin-left: 50px;
}

p {
	display: inline;
}

body, h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;

}

.wrapper {
    padding: 20px;
}

header {
	background-color: #fff;
	padding-bottom: 100px;
	padding-top: 60px;	
}

.headerleft {
	display: inline;
	float: left;
	width: 50%;
}

.headerright {
	display: inline;
	float: right;
	width: 50%;
}

header h1 {
	padding: 39px 20px 14px 100px;
}


#aboutus {
	background-color: #fff;
    font-size: 12px;
    padding-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

#aboutus h4 {
	font-size: 15px;
	padding-bottom: 10px;
}

#aboutus img {
	float: left;
	padding: 0px;
	width: 100%
}

#aboutus a {
	padding-bottom: 1px;
	text-decoration: none;
	color: red;
	line-height: 1.3em;
	margin-left: 15px;
}


#aboutus a:hover {
	border-bottom: 2px solid red;
}

.bio {
	background-color: #fff;
    padding: 20px;
    width: 9%;
    float: left;
    display: inline;
}


#ourwork {
	background-color: #fff;
    padding: 20px;
}



#ourworktitle {
	background-color: #fff;
    padding: 20px;
    margin: 10px auto;
}

#ourwork h2 {
	margin-left: auto;
	min-width: auto;
	text-align: center;
}

#ourwork img {
	width: 100%;
	display: inline;
}

.project {
	background-color: #fff;
    padding: 20px;
    width: 30%;	
    float: left;
}

footer {
	background-color: lightgray;
    padding: 20px;
    text-align: center;
}

footer a {
	padding-bottom: 1px;
	text-decoration: none;
	color: red;
}


footer a:hover {
	border-bottom: 2px solid red;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


